/* Button Design */
.usefulBtn{
    background-color: aliceblue;
    color:darkmagenta;
    
}
/* button hover style */
button:hover{
    background-color:rgb(128, 18, 161);
    color:whitesmoke;
    font-weight:500;

    
}
